<link rel="stylesheet" href="/css/home.css" />

<nav>
  <ul class="nav justify-content-end">
    <li>
      <a class="nav-link" href="/">HOME</a>
    </li>
    <li>
      <a class="nav-link" href="/events">EVENTS</a>
    </li>
    <li>
      <a class="nav-link" href="/about">ABOUT</a>
    </li>
    <li>
      <a class="nav-link" href="/contact">CONTACT</a>
    </li>
  </ul>
</nav>
