# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env

# Build output
dist/
build/

# Editor/IDE folders
.vscode/
.idea/
