
h1{
  text-align: center;
}
.intro{
  text-align: center;
 margin: 0 auto;
  width: 50%;
  color: black;

}
  body {
    font-family: 'Roboto', sans-serif;
    background: url('https://www.transparenttextures.com/patterns/cubes.png'), linear-gradient(135deg, #e6f3e6, #b8e0b8);
    min-height: 100vh;
    padding: 20px;
  }
 .container {
  display: flex;
  flex-direction: row; /* Stacks the flex items vertically */
  gap: 45px; /* Adds space between the vertical items */
}


.card{
  width: 300px;
  height: 295px;
  border: 1px solid #ccc;
  margin-bottom: 10px; /* Another way to add vertical space */
}



nav{
  background-color: green;
  padding: 3%;
  color: white;
}
.nav-link{
  color: white;
  display: inline;
  font-size: larger;
}

.nav-link:hover {
  color: white;
  background-color: rgb(96, 231, 96); /* Light background effect */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

.footer {
  position: relative;
  background: green;
   padding: 15px;
   text-align: center !important;
   color: white;
  

}

.footer a {
  
  font-size: 30px;
  color: white;
  margin: 0 8px; 
  display: inline-block; 
  transition: 0.5s;
  align-items: center;
}

.footer a:hover {
  transform: translateY(-10px);
}

.social-icon__item {
  list-style: none;
  display: inline;
  
}




