*{
  color: black !important;
}
/*Heading Aligning*/
h1{
  text-align: center;
}
/*Styling welcome message*/
.intro{
  text-align: center;
  background: url('https://i.pinimg.com/736x/37/3c/64/373c64e9a291f9dc466ce910d8bc7285.jpg');
 margin: 0 auto;
  width: 50%;
  color: black;

}
/*Styling body*/
  body {
    font-family: 'Roboto', sans-serif;
    background: url('https://www.transparenttextures.com/patterns/cubes.png'), linear-gradient(135deg, #e6f3e6, #b8e0b8);
    min-height: 100vh;
    padding: 20px;
  }
 
/*Creating card form*/
.cardh{
  border: 2px solid white;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 25px;
  background-color: white;
 
}

/*Arranging the nav bar*/
nav{
  
  padding: 3%;
}
/*Arranging the links to other pages*/
.nav-link{
  color: white;
  display: inline;
  font-size: larger;
}
/*Creating a hover effect for the links*/
.nav-link:hover {
  color: white;
  background-color:#50df9c; /* Light background effect */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}
/*Arranging footer*/
.footer {
  position: relative;
  
  padding: 20px;
  text-align: center !important;
  color: white;

}
/*Arranging icons*/
.footer a {
  
  font-size: 30px;
  color: white;
  margin: 0 8px; 
  display: inline-block; 
  transition: 0.5s;
  align-items: center;
}
/*Hover effect for the icons*/
.footer a:hover {
  transform: translateY(-10px);
}
/**/
.social-icon__item {
  list-style: none;
  display: inline;
  
}




